@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  @apply text-gray-500 h-full;
}

html:not(.dark),
.light-theme {
  --red: rgba(245, 79, 68, 1);
  --yellow: rgba(254, 187, 15, 1);
  --teal: rgba(15, 213, 189, 1);
  --blue: rgba(60, 153, 239, 1);
  --purple: rgba(154, 78, 223, 1);
  --gray-50: rgba(246, 247, 248, 1);
  --gray-100: rgba(224, 228, 234, 1);
  --gray-200: rgba(192, 199, 210, 1);
  --gray-300: rgba(160, 170, 186, 1);
  --gray-400: rgba(134, 145, 162, 1);
  --gray-500: rgba(110, 119, 134, 1);
  --gray-600: rgba(86, 95, 108, 1);
  --gray-700: rgba(65, 72, 83, 1);
  --gray-800: rgba(42, 47, 55, 1);
  --gray-900: rgba(24, 27, 32, 1);
}

html.dark,
.dark-theme {
  --red: rgba(245, 79, 68, 1);
  --yellow: rgba(248, 190, 42, 1);
  --teal: rgba(3, 208, 183, 1);
  --blue: rgba(60, 153, 239, 1);
  --purple: rgba(117, 56, 173, 1);
  --gray-50: rgba(8, 9, 11, 1);
  --gray-100: rgba(24, 27, 31, 1);
  --gray-200: rgba(41, 47, 55, 1);
  --gray-300: rgba(65, 72, 82, 1);
  --gray-400: rgba(86, 94, 107, 1);
  --gray-500: rgba(110, 119, 134, 1);
  --gray-600: rgba(133, 145, 161, 1);
  --gray-700: rgba(158, 170, 188, 1);
  --gray-800: rgba(185, 196, 211, 1);
  --gray-900: rgba(219, 227, 239, 1);
}

::selection {
  @apply bg-teal !opacity-100 text-gray-50 pl-1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  @apply flex-1;
}

a {
  @apply text-teal hover:underline;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.prose {
  @apply text-gray-700;

  @property --m {
    syntax: "<length>";
    initial-value: 1rem;
    inherits: false;
  }

  @property --m-start {
    syntax: "<length>";
    initial-value: 1rem;
    inherits: false;
  }

  @property --m-end {
    syntax: "<length>";
    initial-value: 1rem;
    inherits: false;
  }

  /* blocks */
  div,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  blockquote,
  pre,
  hr,
  table,
  tr,
  td,
  th,
  thead,
  tbody,
  tfoot,
  figure,
  video,
  details,
  form {
    &:not(:first-child) {
      margin-block-start: var(--m, var(--m-start, 1rem));
    }
    &:not(:last-child) {
      margin-block-end: var(--m, var(--m-end, 1rem));
    }
  }

  img {
    @apply mx-auto;
  }

  video {
    @apply mx-auto;
    --m: 2rem;
  }

  figure {
    --m: 2rem;

    img,
    video {
      height: 28rem;
    }
  }

  /* code */

  pre {
    --m: 2rem;
    @apply text-sm rounded-lg bg-gray-100 px-5 py-4 overflow-x-auto;
  }

  code:not(pre code) {
    @apply font-mono text-gray-900 rounded bg-gray-200 pt-0.5 pb-0.5 px-[0.75ch] text-sm;
  }

  /* inline */

  b,
  strong {
    @apply font-semibold text-gray-800;
  }

  ul,
  ol {
    --m: 1.5rem;
    padding-inline-start: 1.5rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    --m: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800 font-semibold;
    --m-start: 1.5em;
    --m-end: 0.3333333em;
  }

  h2 {
    @apply text-2xl leading-tight;
  }

  h3 {
    @apply text-xl leading-snug;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-base;
  }

  /* misc */

  hr {
    @apply border-b-2 border-gray-300;
    --m: 4rem;
  }
}

@layer transitions {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
  .animate-fade-in {
    animation: fade-in 0.5s ease;
  }

  .fade-enter-from {
    opacity: 0;
  }

  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: opacity;
  }

  .fade-leave-active {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: opacity;
    pointer-events: none;
  }

  .lift-enter-from {
    transform: translateY(10%);
    opacity: 0;
  }

  .lift-leave-to {
    transform: translateY(10%);
    opacity: 0;
  }

  .lift-enter-active {
    transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform, opacity;
  }

  .lift-leave-active {
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform, opacity;
    position: absolute;
    pointer-events: none;
  }

  .lift-move {
    transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform;
  }
}
