@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-500 h-full;
}

::selection {
  @apply bg-teal !opacity-100 text-gray-50 pl-1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @apply h-full flex flex-col leading-normal bg-gray-50 text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@screen sm {
  body {
    background-image: radial-gradient(220vw 110vh at 12rem 12rem, transparent 60%, theme('colors.teal.DEFAULT'));
    background-attachment: fixed;
  }
}

body>* {
  @apply flex-1;
}

a {
  @apply text-teal hover:underline;
}

b, strong {
  @apply font-light text-gray-900;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 hover:bg-gray-500 opacity-50 rounded-full border-none;
  border: solid 3px transparent;
  background-clip: padding-box;
}

.lift-enter-from {
  transform: translateY(10%);
  opacity: 0;
}

.lift-leave-to {
  transform: translateY(10%);
  opacity: 0;
}

.lift-enter-active {
  transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform, opacity;
}

.lift-leave-active {
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform, opacity;
  position: absolute;
  pointer-events: none;
}

.lift-move {
  transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform;
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity;
  overflow: visible;
}

.fade-leave-active {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity;
  overflow: visible;
  pointer-events: none;
}

.fade-move {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform;
}

#overlay {
  position: relative;
  z-index: 100;
}